asgiref==3.8.1
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==42.0.7
Django==5.0.6
django-prometheus==2.3.1
hvac==2.2.0
idna==3.7
nanoid==2.0.0
pillow==10.3.0
prometheus_client==0.20.0
psycopg2-binary==2.9.9
pycparser==2.22
PyJWT==2.8.0
python-logstash==0.4.8
pytz==2024.1
requests==2.31.0
rfc5424-logging-handler==1.4.3
sqlparse==0.4.4
syslog-rfc5424-formatter==1.2.3
tzlocal==5.2
urllib3==2.2.1
