<!DOCTYPE html>
<html>
    <head></head>

    <body id="test-target">
        <div>Waiting room...</div>
        {{ Id|json_script:"Id" }}
        <script>


            













/***************************************** Websockets *****************************************/

const exampleSocket = new WebSocket('wss://localhost:8000/cupidon/matchmaking/ws/'); // Probably add room name
const Id = JSON.parse(document.getElementById('Id').textContent);

exampleSocket.onopen = function(event) {
    console.log("Socket opened in the front");
    sendPlayerData("playerData");
};

exampleSocket.onclose = function() {
    console.log("Socket closed in the front");
    sendData("Leaving")
}

exampleSocket.onerror = function(event) {
    console.log("Socket error");
}

exampleSocket.onmessage = (event) => {
    const data = JSON.parse(event.data);
    if (data.action === "redirect") {
        window.location.href = data.url;
    }
};

console.log(Id)

function sendPlayerData(type) {
    // Construct a msg object containing the data the server needs to process the message from the chat client.
    const data = {
        type: type,
        id: Id, // A recuperer depuis la db
        elo: 500, // A recuperer depuis la db
    };
  
    // Send the msg object as a JSON-formatted string.
    exampleSocket.send(JSON.stringify(data));
}

function sendData(type) {
    const data = {
        type: type,
    };

    exampleSocket.send(JSON.stringify(data));
}

function ping() {
    sendData('ping');
}

exampleSocket.addEventListener('open', (event) => {
    const intervalID = setInterval(ping, 10000);
});















        </script>
    </body>
</html>