<!DOCTYPE html>
<html>
    <head></head>

    <body id="test-target">
        <div>Tournament home</div>
        <script>


            













/***************************************** Websockets *****************************************/

const tournamentSocket = new WebSocket('wss://localhost:8000/coubertin/matchmaking/ws/'); // Probably add room name

tournamentSocket.onopen = function(event) {
    console.log("Socket opened in the front");
    sendData("Ready");
};

tournamentSocket.onclose = function() {
    console.log("Socket closed in the front");
    sendData("Leaving")
}

tournamentSocket.onerror = function(event) {
    console.log("Socket error");
}

tournamentSocket.onmessage = (event) => {
    const data = JSON.parse(event.data);

    if (data.Action === "startMatch") {
        window.location.href = "http://localhost:8000/ludo/pong/"
                                + data.TournamentId
                                + '-'
                                + data.Player1
                                + '-'
                                + data.Player2;
    }

    if (data.Action === "tournamentState") {
        let tournament = data.Tournament;
        // cf endpoints here
    }
};

// 

function sendData(state) {
    // Construct a msg object containing the data the server needs to process the message from the chat client.
    const data = {
        state: state
    };
  
    // Send the msg object as a JSON-formatted string.
    tournamentSocket.send(JSON.stringify(data));
}
















        </script>
    </body>
</html>