.homepage-header {
	z-index: 997;
	padding: 2.5vw;
}

.homepage-header-logo {
	background: 0;
	border: 0;
}

.homepage-header-logo img {
	height: 46px;
}

/* Menus */

.homepage-header-menus > *,
.homepage-header-accessibility {
	height: 46px;
	width: 46px;
	border-radius: 23px;
	border-style: solid;
	border-color: #7300E6;
	border-width: 3px;
	background-color: white;
	margin-right: 16px;
}

.homepage-header-menus > * img {
	height: 22px;
}

.homepage-header-open-menu {
	top: calc(5vh + 66px);
	z-index: 999;
	background-color: #F7F0FE;
	backdrop-filter: blur(50px);
	border-radius: 16px;
	padding-top: 16px;
	padding-left: 16px;
	padding-right: 16px;
}

.homepage-header-open-play {
	max-height: 448px;
}

.homepage-header-open-menu-contrast {
	background-color: white;
	backdrop-filter: none;
	border-color: #7300E6;
	border-style: solid;
	border-width: 3px;
}

.homepage-header-category {
	background-color: rgba(115, 0, 230, 0.1);
	backdrop-filter: blur(100px);
	border-radius: 12px;
	padding: 12px;
	margin-bottom: 16px;
	min-height: 56px;
	border: 0;
}

.homepage-header-category-contrast {
	background-color: white;
	backdrop-filter: none;
	border-color: #7300E6;
	border-style: solid;
	border-width: 2px;
}

.homepage-header-category:hover {
	cursor: pointer;
	filter: drop-shadow(2px 2px 8px rgba(115, 0, 230, 0.6));
}

.homepage-header-category:focus {
	filter: drop-shadow(2px 2px 8px rgba(115, 0, 230, 0.6));
}

.homepage-header-category img {
	left: 16px;
	width: 24px;
}

.homepage-header-category p {
	font-size: 16pt;
	font-weight: 600;
	color: #7300E6;
}

.homepage-header-category-clicked {
	background: #7300E6;
}

.homepage-header-category-clicked img {
	content: url("../assets/general/invite-friend-white.svg");
}

.homepage-header-category-clicked p {
	color: white;
}

.homepage-header-no-friends {
	margin-top: 16px;
	margin-bottom: 24px;
}

.homepage-header-no-friends img {
	width: 40%;
	opacity: 50%;
}

.homepage-header-no-friends p {
	color: #7300E6;
	font-size: 14pt;
	font-weight: 400;
}

.homepage-header-tournaments img {
	margin-left: 3px;
}

.homepage-header-play img {
	margin-left: 4px;
}

.homepage-header-play-friend-card img {
	height: 32px;
	width: 32px;
	border-radius: 16px;
}

.homepage-header-friends {
	margin-right: 0;
}

.homepage-header-friends img {
	margin-left: 1px;
}

.homepage-header-add-friend-input-box {
	margin-right: 0;
	margin-bottom: 16px;
	min-height: 56px;
	flex-grow: 1;
}

.homepage-header-add-friend-input-warning {
	margin-top: 0;
	margin-bottom: 16px;
}

.homepage-header-add-friend-submit {
	height: 56px;
	width: 56px;
	border-radius: 12px;
	background-color: #7300E6;
	margin-left: 16px;
}

.homepage-header-add-friend-submit img {
	width: 18px;
}

.homepage-header-add-friend-submit:hover {
	cursor: pointer;
	filter: drop-shadow(2px 2px 8px rgba(115, 0, 230, 0.6));
}

/* Options */

.homepage-header-language-selector {
	margin-right: 4px;
}

.homepage-header-language-selector button,
.homepage-header-language-selector ul li a {
	width: 50px;
	height: 50px;
	border-radius: 25px;
}

.homepage-header-profile {
	background: 0;
	border: 0;
}

.homepage-header-profile img {
	height: 46px;
	width: 46px;
	border-radius: 23px;
	border-width: 0;
	object-fit: cover;
}

/* hover */

.homepage-header-logo:hover,
.homepage-header-menus > *:hover,
.homepage-header-options > *:not(:first-child):hover {
	cursor: pointer;
	filter: drop-shadow(2px 2px 8px rgba(115, 0, 230, 0.6));
}

.homepage-header-logo:focus,
.homepage-header-menus > *:focus,
.homepage-header-options > *:not(:first-child):focus {
	filter: drop-shadow(2px 2px 8px rgba(115, 0, 230, 0.6));
}