.tournament-info {
	top: 20vh;
	padding-left: 2.5vw;
	padding-right: 1.25vw;
	padding-bottom: 2.5vw;
	height: 80vh;
}

.tournament-info-container {
	height: 100%;
	padding-top: 16px;
}

.tournament-info-container
.category-title {
	padding-top: 4px;
	padding-left: 16px;
	padding-right: 16px;
	padding-bottom: 16px;
}

.tournament-info-icon {
	left: 16px;
	top: 0;
}

.tournament-info-icon img {
	height: 20px;
}

.tournament-info-name-input-box {
	padding: 8px;
	margin: 0;
}

.tournament-info-name-input-warning {
	margin-top: 4px;
	margin-bottom: 8px;
	font-size: 12pt;
}

.tournament-info-edit-icon,
.tournament-info-check-icon {
	right: 120px;
}

.tournament-info-edit-icon img {
	height: 18px;
}

.tournament-info-check-icon img {
	margin-right: 1px;
	height: 16px;
}

.tournament-info-invite-icon {
	right: 68px;
}

.tournament-info-invite-icon img {
	height: 20px;
	margin-left: 3px;
}

.tournament-info-invite-box {
	z-index: 999;
	top: 64px;
	right: 0;
	width: 20vw;
	max-height: 40vh;
	border-radius: 16px;
	background-color: white;
}

.tournament-info-invite {
	max-height: 40vh;
	padding-left: 16px;
	padding-right: 16px;
	padding-bottom: 16px;
}

.tournament-info-invite .content-card:hover {
	cursor: pointer;
	filter: drop-shadow(2px 2px 8px rgba(115, 0, 230, 0.6));
}

.tournament-info-no-friends img {
	width: 40%;
	opacity: 50%;
}

.tournament-info-no-friends p {
	font-size: 14pt;
	font-weight: 400;
	margin-top: 16px;
}

.tournament-info-join-icon,
.tournament-info-leave-icon {
	right: 16px;
}

.tournament-info-join-icon img {
	height: 21px;
	margin-right: 4px;
}

.tournament-info-leave-icon img {
	height: 21px;
	margin-left: 2px;
}

.tournament-info-container
.category-title > p {
	font-weight: 700;
}

.tournament-info-title {
	padding-bottom: 4px;
	border-bottom-color: rgba(115, 0, 230, 0.6);
	border-bottom-width: 2px;
	border-bottom-style: solid;
}

.tournament-info-title p {
	font-weight: 400;
}

.tournament-info-card-container {
	padding: 16px;
	padding-top: 0;
	margin-top: 80px;
	flex-grow: 1;
}

.tournament-info-card-container
.content-card {
	width: calc(50% - 8px);
}

.tournament-info-card-picture {
	left: 16px;
}

.tournament-info-card-picture img {
	height: 20px;
}

.tournament-info-card-name {
	font-size: 14pt;
	color: #7300E6;
}

.tournament-info-card-container
.content-card:nth-child(even) {
	margin-right: 8px;
}

.tournament-info-card-container
.content-card:nth-child(odd) {
	margin-left: 8px;
}

.tournament-info-card-container
.content-card:hover {
	cursor: pointer;
	filter: drop-shadow(2px 2px 8px rgba(115, 0, 230, 0.6));
}

.invite-pending {
	background-color: rgba(115, 0, 230, 0.1);
}

.invite-pending img {
	filter: grayscale(100%);
}

.user-card-pending {
	font-size: 14pt;
	font-weight: 400;
	color: #7300E6;
	margin-left: 16px;
}

.tournament-info-no-players img {
	margin-top: 16px;
	width: 20%;
	opacity: 50%;
}

.tournament-info-no-players p {
	font-size: 14pt;
	font-weight: 400;
	margin-top: 16px;
}

.tournament-kick-player {
	top: -7px;
	right: -11px;
	width: 22px;
	height: 22px;
	border-radius: 11px;
	background-color: #E2123C;
	z-index: 999;
}

.tournament-kick-player img {
	height: 10px;
	filter: invert(1);
}

.tournament-kick-player:hover {
	cursor: pointer;
	background-color: white;
	outline-offset: -1px;
	outline-width: 2px;
	outline-style: solid;
	outline-color: #E2123C;
}

.tournament-kick-player:hover img {
	filter: invert(15%) sepia(65%) saturate(5623%) hue-rotate(340deg) brightness(93%) contrast(98%);
}

.tournament-info-empty img {
	width: 20%;
	opacity: 50%;
	margin-bottom: 16px;
}

.tournament-info-empty p {
	font-weight: 400;
}

/* bracket */

.tournament-info-bracket {
	margin-top: 16px;
}

.tournament-info-bracket-container {
	width: 100%;
	margin-top: 16px;
	background-color: white;
	border-radius: 12px;
	padding: 16px;
}

.bracket {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: relative;
}

.bracket-round {
	display: flex;
	flex-direction: column;
	width: 30%;
	justify-content: space-around;
	align-content: center;
}

.bracket-round-one-four {
	margin-left: 17.5%;
}

.bracket-round-three-four {
	position: absolute;
	left: 52.5%;
	top: 50%;
	transform: translateY(-50%);
}

.bracket-match {
	position: relative;
	display: flex;
	flex-direction: column;
	margin-bottom: 32px;
	margin-right: 0;
}

.bracket-match:last-child {
	margin-bottom: 0;
}

.bracket-player {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 56px;
	position: relative;
	border-radius: 8px;
	background-color: rgba(115, 0, 230, 0.1);
	filter: drop-shadow(2px 2px 4px rgba(115, 0, 230, 0.2));
	padding: 8px;
}

.bracket-player-contrast {
	border-color: #7300E6;
	border-style: solid;
	border-width: 2px;
}

.bracket-player:first-child {
	margin-bottom: 12px;
}

.bracket-player div {
	font-size: 14pt;
	font-weight: 400;
	color: #7300E6;
}

.bracket-player-picture img {
	height: 40px;
	border-radius: 20px;
}

.bracket-loser {
	background-color: #F7F0FE;
}

.bracket-loser .bracket-player-name,
.bracket-loser .bracket-player-score {
	color: rgba(115, 0, 230, 0.6);
}

.bracket-loser
.bracket-player-picture img {
	filter: grayscale(100%);
}

.bracket-match-lines {
	display: block;
	position: absolute;
	top: 50%;
	bottom: 0;
	margin-top: 0;
	right: -1px;
}

.bracket-match-line-one,
.bracket-match-line-two {
	position: absolute;
	background-color: #7300E6;
}

.bracket-match-line-one {
	height: 2px;
	width: 12px;
}

.bracket-match-line-two {
	height: 88px;
	width: 2px;
	left: 11px;
}

.bracket-match-lines-alt {
	position: absolute;
	left: -28px;
	top: 62px;
}

.bracket-match:nth-child(even)
.bracket-match-lines
.bracket-match-line-two {
	transform: translate(0, -100%);
	top: 2px;
}

.bracket-round-one
.bracket-match
.bracket-match-lines-alt {
	display: none;
}

.bracket-round-three
.bracket-match
.bracket-match-lines {
	display: none;
}

.bracket-round-two 
.bracket-match-lines 
.bracket-match-line-two {
	height: 175px;
}